<div class="filter-container">
  <div class="filter" *ngFor="let filter of filters; let idx = index">
    <div class="name">{{ filter }}</div>
    <button (click)="removeFilter(idx)">
      <img src="../../../assets/images/icon-remove.svg" alt="" />
    </button>
  </div>
  <div class="filter add-filter">
    <input
      #filterName
      class="name"
      type="text"
      name="filter-name"
      placeholder="Filter"
    />
    <button (click)="addFilter(filterName.value)">
      <img
        class="icon-add"
        src="../../../assets/images/icon-remove.svg"
        alt=""
      />
    </button>
  </div>
</div>
